<div class="card-item col">
  {% if project.redirect %}
  <a href="{{ project.redirect }}" target="_blank">
    {% else %}
    <a href="{{ project.url | relative_url }}">
      {% endif %}
      <div class="card hoverable">
        <div class="row g-0">
          {% if project.img %}
          <div class="col-md-6">
            {% else %}
            <div class="col-md-12">
              {% endif %}
              <div class="card-body">
                <h2 class="card-title">{{ project.title }}</h2>
                <p>{{ project.short-description }}</p>
                <p class="card-text">{{ project.description }}<br><br></p>
                <div class="row ml-1 mr-1 p-0">
                  {% if project.github %}
                  <a class="github-button" href="{{ project.github }}" data-size="large" data-show-count="true"
                    aria-label="GitHub">GitHub</a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% if project.img %}
            <div class="card-img col-md-6">
              <img src="{{ project.img | relative_url }}" alt="code thumbnail" style="padding:1.5em">
            </div>
            {% endif %}
          </div>
        </div>
    </a>
</div>
