{% if site.footer_fixed %}
<footer class="fixed-bottom">
  <div class="container mt-0">

    <!-- {% if site.watermark != nil %}
    <div class="watermark">
      <img src="{{ site.baseurl | prepend: site.url }}/{{ site.watermark }}">
    </div>
    {% endif %} -->

    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
    </div>
    {{ site.contact_note }}
    <br>
    &copy; Copyright {{ site.time | date: '%Y' }}
    <br>
    {{ site.footer_text }}
    {% if site.impressum_path %}
    <br>
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    {% if site.last_updated %}
    <br>
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}
  </div>
</footer>
{% else %}
<footer class="sticky-bottom mt-5">
  <div class="container">

    <!-- {% if site.watermark != nil %}
    <div class="watermark">
      <img src="{{ site.baseurl | prepend: site.url }}/{{ site.watermark }}">
    </div>
    {% endif %} -->

    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
    </div>
    {{ site.contact_note }}
    <br><br>
    &copy; Copyright {{ site.time | date: '%Y' }}
    <br>
    {{ site.footer_text }}
    {% if site.impressum_path %}
    <br>
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    {% if site.last_updated %}
    <br>
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}
  </div>
</footer>
{% endif %}
