<div class="news">
  {% if site.meetings  %}
    <div class="table-responsive">
      <table class="table table-sm">
      {% assign meetings = site.meetings | reverse %}
        <tr>
          <th class="date">Date</th>
          <th class="meeting" style="width: 47%">Title</th>
          <th class="meeting">Conference / Venue</th>
          <th class="location">Location</th>
        </tr>
      {% for item in meetings %}
        <tr>
          <td scope="row">
            {{ item.date | date: "%b %-d, %Y" }}
            {% if item.date_end %}
            - <br> {{item.date_end | date: "%b %-d, %Y" }}
            {% endif %}
          </td>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
          <td>{{ item.event }}</td>
          <td>{{ item.location }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No meetings to show.</p>
  {% endif %}
</div>
