<div class="card-item col">
    <div class="card hoverable">
      <div class="row g-0">
        {% if project.img %}
        <div class="col-md-6">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{ project.title }}</h2>
            <h5 class="card-subtitle">{{ project.subtitle }}</h5>
            <p><i>{{project.authors}}</i></p>
            <br>
            <p class="card-text">{{ project.description }}</p>
            <div class="row ml-1 mr-1 p-0">

            </div>
          </div>
        </div>
        {% if project.img %}
        <div class="card-img col-md-6">
          <img src="{{ project.img | relative_url }}" alt="project thumbnail" style="padding:1em">
        </div>
        {% endif %}
      </div>
    </div>
  </div>
