---
layout: default
---

{% if page._styles %}
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    {% if page.img %}
    <div class="article-banner">
      <img src="{{ page.img | relative_url }}" alt="meeting thumbnail"/>
      {% if page.img_caption %}
      <span class="img-caption">{{ page.img_caption }}</span>
      {% endif %}
    </div>
    {% endif %}

    <hr>
    <table>
      <tbody>
        {% if page.date %}
        <tr>
          <td><b>When?</b></td>
          <td>{{ page.date | date: "%B %-d, %Y" }}
            {% if page.date_end %} - {{ page.date_end | date: "%B %-d, %Y" }} {% endif %}

          </td>
        </tr>
        {% endif %}
        {% if page.location %}
        <tr>
          <td><b>Where?</b></td>
          <td>{{ page.location }}</td>
        </tr>
        {% endif %}
        {% if page.organizers %}
        <tr>
          <td><b>Organizers</b></td>
          <td>
            <!-- {{ page.organizers }} -->
            {% for author in page.organizers %}
            {% assign coauthor_url = nil %}
            {% if site.data.coauthors[author.last] %}
              {% for coauthor in site.data.coauthors[author.last] %}
                {% if coauthor.firstname contains author.first %}
                  {% assign coauthor_url = coauthor.url %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if forloop.length == 1 %}
                {{author.first}} {{author.last}}
            {% else %}
              {% unless forloop.last %}
                  {% if coauthor_url %}
                    <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                  {% else %}
                  {{author.first}} {{author.last}},
                  {% endif %}
              {% else %}
                  {% if coauthor_url %}
                    <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>
                  {% else %}
                    {{author.first}} {{author.last}}
                  {% endif %}
              {% endunless %}
            {% endif %}
          {% endfor %}
          </td>
        </tr>
        {% endif %}
        {% if page.link %}
        <tr>
          <td><b>Official Site</b></td>
          <td><a href="{{ page.link }}">{{ page.link }}</a></td>
        </tr>
        {% endif %}
      </tbody>
      </table>
      <hr>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if site.disqus_shortname and page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname  = '{{ site.disqus_shortname }}';
      var disqus_identifier = '{{ page.id }}';
      var disqus_title      = {{ page.title | jsonify }};
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}

</div>
